@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
    --color-primary: #FF4081; /* Rosa anime: vibrante y llamativo */
    --color-secondary: #00BCD4; /* Azul cielo: fresco y moderno */
    --color-accent: #FFC107; /* Amarillo dorado: energía y brillo */
    --color-background: #FFF3E6;
    --color-text: #FFFFFF; /* Texto blanco: legible sobre fondo oscuro */
    --color-highlight: #E91E63; /* Rosa intenso: resaltar elementos */
    --color-soft-blue: #B3E5FC; /* Azul pastel: detalles tiernos */
    --color-purple: #9C27B0; /* Morado: toque mágico y vibrante */
  }

  :root {
    --color-primary: #2A2A72;
    --color-secondary: #009FFD;
    --color-accent: #FFA400;
    --color-text: #2B2B2B;
  }
  
body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
}